<div class="container py-5">
  <div class="row d-flex justify-content-between">
    <div class="card col-3">
      <img
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
        class="card-img-top"
        style="height: 180px"
      />
      <div class="card-body">
        <p class="card-text text-center text-secondary">我是找昆蟲專家</p>

      </div>
    </div>
    <div class="card col-3">
      <img
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
        class="card-img-top"
        style=" height: 180px"
      />
      <div class="card-body">
        <p class="card-text text-center text-secondary">有本事自己剪</p>

      </div>
    </div>
    <div class="card col-3">
      <img
        src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
        class="card-img-top"
        style=" height: 180px"
      />
      <div class="card-body">

        <p class="card-text text-center text-secondary">你以為錢從天上來?</p>
      </div>
    </div>
  </div>
  <form method="POST" action="/">
    <fieldset class="form-group container mt-2" id="job">
      <div class="row justify-content-between">
        <div class="form-check form-check-inline justify-content-center col-3">
          <input
            class="form-check-input"
            name="target"
            type="radio"
            value="engineer"
          />
          <label class="form-check-label" for="engineer">
            工程師
          </label>
        </div>

        <div class="form-check form-check-inline justify-content-center col-3">
          <input
            class="form-check-input"
            name="target"
            type="radio"
            value="designer"
          />
          <label class="form-check-label" for="designer">
            設計師
          </label>
        </div>

        <div class="form-check form-check-inline justify-content-center col-3">
          <input
            class="form-check-input"
            name="target"
            type="radio"
            value="entrepreneur"
          />
          <label class="form-check-label" for="entrepreneur">
            創業家
          </label>
        </div>
      </div>
      <div class="row mt-5">
        <button type="submit" class="btn btn-success">產生幹話</button>
      </div>
    </fieldset>
  </form>
  {{! show }}
  <div class="ml-3 flex-grow-1">
    <textarea
      readonly
      class="form-control trashTalk-display font-weight-bold"
      rows="3"
      aria-label="With textarea"
      style="font-size: larger;"
    >
      {{#if talk}}
        {{talk}}
      {{else}}你不選人我怎麼講幹話？
      {{/if}}
    </textarea>
  </div>
</div>

{{#if job}}
  <script>
    document.querySelector(`input[value="{{job}}"]`).checked = true
  </script>
{{/if}}